<h1>You fell in love with: <%=thingVar%></h1>
<% if(thingVar.toLowerCase() == "josh") { %>
    <p>Good Choice! Josh is the best!</p>
<% } else { %>
    <p>Bad choice! You should have said Josh!</p>
<% } %>
<p>This is the love.ejs file!</p>