<% include ./partials/header %>

<div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the Cat Adoption page!</h1>
      <p class="lead">Help us find the <strong>purrr</strong>-fect match for you!</p>
      <hr class="my-4">
      <p>If you need to give your cat up for adoption, click below. We won't judge you. But we kind of will...</p>
      <a class="btn btn-primary btn-lg" href="/cats/new" role="button">New Cat</a>
    </div>
    
    <div class="row">
        <% cats.forEach(function(cat){ %>
            <div class="col-md-3 d-flex pb-4">
                <div class="card">
                  <img src="<%= cat.image %>" class="card-img-top img-fluid" alt="Image of cat">
                  <div class="card-body">
                    <h5 class="card-title"><%= cat.name %></h5>
                  </div>
                  <div class="text-center">
                    <form action="/cats/<%= cat._id %>" method="GET">
                      <button type="submit" class="btn btn-success btn-block">
                        <i class="fas fa-info-circle"></i>
                         Take me home!
                      </button>
                    </form>
                  </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ./partials/footer %>